<?xml version="1.0"?>
<launch>
		
	<arg name="host" default="172.23.32.1" />
	
   	<node name="interface" pkg="VR_Assignment" type="interface_sm.py" output="screen"/>
   	<node name="spawner" pkg="VR_Assignment" type="spawner.py" output="screen">
   		<param name="host" type="string" value="$(arg host)" />
   	</node>
   	<node name="launcher" pkg="VR_Assignment" type="launcher.py" output="screen">
   		<param name="host" type="string" value="$(arg host)" />
   	</node>
   	<node name="calculator" pkg="VR_Assignment" type="AQHICalculator.py" output="screen">
   		<param name="host" type="string" value="$(arg host)" />
   	</node>

</launch>
