<?xml version="1.0"?>
<launch>
		
	<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch">
		<arg name="output" value="screen" />
		<arg name="host" value="172.23.32.1" />
	</include>
   	<node name="interface" pkg="VR_Assignment" type="interface_sm.py" launch-prefix="gnome-terminal -e"/>
   	<include file="$(find VR_Assignment)/run.py">
		<arg name="output" value="gnome-terminal -e" />
	</include>

</launch>
